* {
    box-sizing: border-box;
}
  
body {
    
    font-family: Courier, Arial, Helvetica, sans-serif;
    font-size:20px;

}

.contacts {
    background-color: #aba9a9;
    min-height:30px;
    margin: 5px 5px;
}

.main-content {
    margin: 20px 20px;
    font-size: 30px;
}



/*.candles {
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius: 5%;
    max-width: 95%;
    max-height: 95%;
  
}

.img-container {
    width: 400px;
    height: 500px;
    margin: 10px;
}*/
/*
.nav {
    background-color: #544141;
    min-height: 55px;
}*/

/*.icon {
    position: absolute;
    top: 1%;
    right: 90%;
    width: 35px;
    height:35px;
}*/

.welcome {
    position: absolute;
    top: 2%;
    right: 135px;
    color:#060606;
}

.open-button {  
    position: absolute;
    width: 100px;
    top: 1%;
    right: 20px; 
    
}

.form-login {
    width: 60%;
    padding: 15px 20px;
    border-width: 3px !important;
    border-radius: 20px;
    background-color: white;
    z-index: 9;  
}

.offer_container {
    width: 70%;
    padding: 20px 20px;
    border: solid;
    border-color:#4b1f0157;
    border-width: 1px;
    border-radius: 10px;
}

.special-link {
    width: 70%;
    padding: 20px 20px;
    border: solid;
    border-color:#eb2e2157;
    border-width: 1px;
    border-radius: 10px;
}

.registration-button {
    position: absolute;
    top: 1%;
    right: 135px;     
    
}
/*
.container-content {
    margin: 30px;
}

.menu-container {
    position: absolute;
    top: 0px;
    display: flex;
}

.main-container {
    position: absolute;
    top: 50%;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    height: 25vh;
}

.salon-background {
    height: 100vh;
    width: 100%;
    opacity:0.4;
    background: url('../../images/salon.jpg') center no-repeat;
    background-size: cover; 
}

.container-content {
    margin: 30px;
}*/

.nav-item {
    font-weight: bold;
    color: black;
}

.nav-link {
    color: white; 
   
}

/*
.img-container {   
    width: 300px;
    height: 400px;
}

img {
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius: 5%;
}

.img-container_incense {
    width: 300px;
    height: 400px;
    margin: 10px;
}

figcaption {    
    width: 300px;
    text-align: center;  
}

figure {
    margin: 3% 3%;
}

.salon_img {
    margin: 10px;
}

.figure-container { 
    margin: 5% 0% 0% 10%;  
    max-width: 2000px;
    display: flex;
    flex-wrap: wrap;    
    align-content: space-between;
}

iframe {
    border-radius: 5%;
}

.discount {
    vertical-align: super;
    font-size: 90%;
    background-color: brown;
    color:white;
}

.old-price {
    position: relative;
    font-size: 120%;
}
    
.old-price:before {
    border-bottom: 3px solid red;
    position: absolute;
    content: "";
    width: 100%;
    height: 80%;
    transform: rotate(-7deg);
}

.new-price {
    font-size: 140%;
    font-weight: bold;
}

footer {
    padding: 10px 20px;
    color: white;
    max-height: 50px;
    background-color: #4b1f01;
    font-size: 70%;
}
*/
