* {
    box-sizing: border-box;
}
  
body {
    
    font-family: Courier, Arial, Helvetica, sans-serif;
    font-size:20px;

}

.contacts {
    background-color: #aba9a9;
    min-height:30px;
    margin: 5px 5px;
}

.main-content {
    margin: 20px 20px;
    font-size: 20px;
}




.welcome {
    position: absolute;
    top: 2%;
    right: 135px;
    color:#060606;
}

.open-button {  
    position: absolute;
    width: 100px;
    top: 1%;
    right: 20px; 
    
}

.form-login {
    width: 60%;
    padding: 15px 20px;
    border-width: 3px !important;
    border-radius: 20px;
    background-color: white;
    z-index: 9;  
}

.offer_container {
    width: 70%;
    padding: 20px 20px;
    border: solid;
    border-color:#4b1f0157;
    border-width: 1px;
    border-radius: 10px;
}

.special-link {
    width: 70%;
    padding: 20px 20px;
    border: solid;
    border-color:#eb2e2157;
    border-width: 1px;
    border-radius: 10px;
}

.registration-button {
    position: absolute;
    top: 1%;
    right: 135px;     
    
}


.nav-item {
    font-weight: bold;
    color: black;
}

.nav-link {
    color: white; 
   
}

